a:hover {
    text-decoration: none;
}

.index-header {
    background: url(../images/bgi-header.jpg);
    background-size: cover;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #10c9c3;
}

.btn-color {
    background-color: #10c9c3;
    border-radius: 0;
}

.btn-banner_size-and-text {
    font: 12px 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 18px 42px 18px 42px;
}

.btn-banner_size-and-text:hover {
    color: #fff;
    background-color: #10C9F9;
    box-shadow: 0 0 0 0.2rem rgba(0, 243, 255, .25);
}

.btn:focus {
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
    font: 12px 'Montserrat', sans-serif;
    color: #191919;
    font-weight: 700;
    margin-left: 10px;
    letter-spacing: 0.1em;
}

.banner {
    padding-top: 155px;
    padding-bottom: 200px;
}

h1 {
    font: 38px 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: -4px;
    padding-bottom: 15px;
}

h2 {
    font: 30px 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner-text {
    font: 18px 'Nunito Sans', sans-serif;
    color: #787878;
}

.about-us_text {
    font: 16px 'Nunito Sans', sans-serif;
    color: #787878;
    line-height: 1.5em;
}

.about-us_sign {
    background: url(../images/about-us_sign.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 223px;
    height: 57px;
}

.skills {
    background: url(../images/bgi-skills.jpg);
    background-size: cover;
}

.skills .container {
    padding-top: 160px;
    padding-bottom: 160px;
}

.skills-text {
    font: 12px 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 35px;
}

.progress-bar {
    background-color: #10c9c3;
}

.numbers {
    background-color: #10c9c3;
    padding-top: 96px;
    padding-bottom: 96px;
}

.numbers_icon-color {
    color: #fff;
}

.numbers_number-options {
    color: #fff;
    font: 18px 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}

.numbers_text-options {
    color: #fff;
    font: 12px 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
}

.work .row {
    margin: 0;
}

.work-item {
    -webkit-background-size: cover;
    background-size: cover;
    height: 300px;
}

.work-item:hover {
    background-size: cover;
}

.work-item_1 {
    background-image: url(../images/work-item_1.jpg);
}

.work-item_1:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_1.jpg);
}

.work-item_2 {
    background-image: url(../images/work-item_2.jpg);
}

.work-item_2:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_2.jpg);
}

.work-item_3 {
    background-image: url(../images/work-item_3.jpg);
}

.work-item_3:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_3.jpg);
}

.work-item_4 {
    background-image: url(../images/work-item_4.jpg);
}

.work-item_4:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_4.jpg);
}

.work-item_5 {
    background-image: url(../images/work-item_5.jpg);
}

.work-item_5:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_5.jpg);
}

.work-item_6 {
    background-image: url(../images/work-item_6.jpg);
}

.work-item_6:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_6.jpg);
}

.work-item_7 {
    background-image: url(../images/work-item_7.jpg);
}

.work-item_7:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_7.jpg);
}

.work-item_8 {
    background-image: url(../images/work-item_8.jpg);
}

.work-item_8:hover {
    background: linear-gradient(45deg, rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url(../images/work-item_8.jpg);
}

.pe-7s-look {
    padding-left: 44%;
    padding-top: 126px;
    color: #fff;
    display: none;
}

.work-item:hover .pe-7s-look {
    display: inline-block;
}

.work-item_link {
    height: 100px;
    background-color: #f5f5f5;
    color: #8e8e8e;
    font: 12px 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 45px;
}

.work-item_link:hover {
    text-decoration: none;
    color: #10c9c3;
    font: 12px 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #F5F6FF;
}

.work-process {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

.services-title {
    color: #191919;
    font: 12px 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.services-text {
    color: #787878;
    font: 16px 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.services-icon_color {
    color: #787878;
}

.carousel-item {

}

.carousel-indicators li {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.carousel-indicators .active {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: -2px;
}

#carouselExampleIndicators .carousel-caption {
    color: #00ff00;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.testimonial-autor {
    font: 12px 'Montserrat', sans-serif;
    font-weight: 500;
}

.testimonial-text {
    line-height: 1.5;
    font-weight: 500;
}

.clients {
    padding-top: 65px;
    padding-bottom: 65px;
}

.client-logo {
    margin: 10px;
    height: 65px;
    background: url(../images/client-logo.png);
    width: 89px;
    -webkit-background-size: cover;
    background-size: cover;
}

.need-a-project {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

.form-control {
    border: 0px solid transparent;
    border-radius: 0px;
    height: 47px;
}

textarea.form-control {
    min-height: 168px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #141414;
}

.piroll-design_font {
    font: 18px 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 24px;
}

.footer-text_font {
    color: #bcbcbc;
    font: 15px 'Nunito Sans', sans-serif;
    font-weight: 500;
}

a.footer-text_font:hover {
    text-decoration: none;
    font: 15px 'Nunito Sans', sans-serif;
    font-weight: 500;
    color: #10c9c3;
}

.first-column {
    margin-right: 232px;
}

.second-column {
    margin-right: 140px;
}

.third-column {
    margin-right: 50px;
}

.forth-column {
    margin-right: 70px;
}

/*Home -----------------------------------------*/
.home-header {
    background-color: #ffffff;
}

.home-text {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f6f6f6;
}

.work-item_1-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_1.jpg);
}

.work-item_2-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_2.jpg);
}

.work-item_3-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_3.jpg);
}

.work-item_4-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_4.jpg);
}

.work-item_5-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_5.jpg);
}

.work-item_6-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_6.jpg);
}

.work-item_7-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_7.jpg);
}

.work-item_8-home:hover {
    background: linear-gradient(45deg, rgba(33, 191, 185, 0.8), rgba(33, 191, 185, 0.8)), url(../images/work-item_8.jpg);
}

.work-item:hover {
    background-size: cover;
}

.work-item_1-home {
    background-image: url(../images/work-item_1.jpg);
}

.work-item_2-home {
    background-image: url(../images/work-item_2.jpg);
}

.work-item_3-home {
    background-image: url(../images/work-item_3.jpg);
}

.work-item_4-home {
    background-image: url(../images/work-item_4.jpg);
}

.work-item_5-home {
    background-image: url(../images/work-item_5.jpg);
}

.work-item_6-home {
    background-image: url(../images/work-item_6.jpg);
}

.work-item_7-home {
    background-image: url(../images/work-item_7.jpg);
}

.work-item_8-home {
    background-image: url(../images/work-item_8.jpg);
}

.home_nav_home {
    color: #10c9c3 !important;
    cursor: default;
}

/*About -----------------------------------------*/
.about-text {
    padding-top: 110px;
    padding-bottom: 110px;
    background: linear-gradient(45deg, rgba(24, 24, 24, 0.8), rgba(24, 24, 24, 0.8)), url(../images/about-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.about-title {
    font: 38px 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.about-text_text {
    font: 18px 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
}

.about_about-us {

}

.about_about-us_text {
    font: 16px 'Nunito Sans', sans-serif;
    color: #787878;
    line-height: 1.5em;
}

.about_about-us_sign {
    background: url(../images/about-us_sign.png);
    -webkit-background-size: cover;
    background-size: cover;
    width: 223px;
    height: 57px;
}

.about_me {
    padding-left: 87px;
    padding-right: 120px;
    padding-top: 135px;
    padding-bottom: 135px;
    background-color: #f5f5f5;
}

.about-me_pic {
    background: url(../images/about-me_bg1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: opacity(90%);
    filter: opacity(90%);
}

.need-a-project_about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.home_nav_about {
    color: #10c9c3 !important;
    cursor: default;
}

/*CONTACT -----------------------------------------*/
.home_nav_contact {
    color: #10c9c3 !important;
    cursor: default;
}

.about-us_text-Contact {
    font: 16px 'Nunito Sans', sans-serif;
    color: #787878;
    line-height: 1.5em;
}

.contacts {
    padding-top: 95px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

strong {
    color: black;
}

.map {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

.map-img {
    background: url(../images/map.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 470px;
}

/*WORK -----------------------------------------*/
.work_carousel-item {
    background-color: #f5f5f5;

}

.work_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.control-space {
    background-color: #f5f5f5;
    height: 100px;
}

.carousel-control-next_work, .carousel-control-prev_work {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2%;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
    padding-bottom: 30px;
}

.carousel-control-next_work_leaf {
    position: absolute;
    bottom: 0;
    z-index: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 99%;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
    padding-bottom: 20px;

}

.carousel-control-next_work {
    right: 0;
    width: 180px;
}

.carousel-control-prev_work {
    left: 0;
    width: 180px;
}

.work_carousel_icon-text {
    text-decoration: none;
    font: 12px 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1d1d1d;
}

.working-carousell_bg {
    background-color: #f5f5f5;
}

.carousel-control-prev-icon_work, .carousel-control-next-icon_work {
}

/*MEDIA  -----------------------------------------*/
@media (max-width: 1200px) {
    .first-column {
        margin-right: 100px;
        margin-left: 10px;
    }

    .second-column {
        margin-right: 100px;
    }

    .forth-column {
        margin-right: 50px;
    }
}

@media (max-width: 991px) {
    .first-column {
        margin-right: 20px;
    }

    .second-column {
        margin-left: 20px;
        text-align: left;
        margin-right: 50px;
    }

    .third-column {
        margin-right: 20px;
        text-align: center;
    }

    .forth-column {
        margin-right: 50px;
        text-align: center;
    }

    .fifth-column {
        text-align: center;
    }

    .pe-7s-look {
        padding-left: 38%;
    }
}

@media (max-width: 767px) {
    .second-column {
        margin-left: 40px;
        text-align: left;
        margin-right: 0px;
    }

    .media_ba-none {
        display: none;
    }

    .third-column {
        margin-right: 20px;
        padding-top: 20px;
    }

    .forth-column {
        margin-right: 20px;
        padding-top: 20px;
    }

    .fifth-column {
        margin-right: 0px;
        padding-top: 20px;
    }

    .testimonial-autor {
        font: 12px 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .testimonial-text {
        line-height: 1;
        font-weight: 500;
        font-size: 1rem
    }

    .media_mb {
        margin-bottom: 3rem;
    }

    .pe-7s-look {
        padding-left: 35%;
    }

    .media-sm_padding {
        padding-top: 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .pe-7s-look {
        padding-left: 23%;
    }

    @media (max-width: 470px) {
        .second-column {
            margin-left: 10px;
            text-align: left;
            margin-right: 140px;
            padding-top: 10px;
        }

        .media_d-none {
            display: none;
        }

        .pe-7s-look {
            padding-left: 0px;
        }

        /*about meeeeeee----*/
        .about_me {
            padding-right: 10px;
        }

        /*contaaaact ----*/
        .about-us_text-Contact {
            font: 14px 'Nunito Sans', sans-serif;
            color: #787878;
            line-height: 1.2em;
        }
    }
    @media (max-width: 320px) {
        .media_dd-none {
            display: none;
        }

        /*about me----*/
        .about-us_text {
            font: 16px 'Nunito Sans', sans-serif;
            color: #787878;
            line-height: 1.1em;
        }
    }
/*    vgggfbngfnfdvsdvjdfsbvhjbfdhjvbfjvbjk*/
